.vscode/
*/bin
*/obj
*/*/bin
*/*/obj
*/config.json
*/manifest.json
*/_releases/
ContentPacks/\[CP\] Senlets/Assets/
ContentPacks/\[CP\] Lumisteria Toddlers/Assets/
ContentPacks/\[CP\] Muffin and Cookie/assets/
ContentPacks/\[CP\] Muffin and Cookie/config.json
img/
